In [2]:
# NOMOR 1
# Lokasi penyimpanan default C:\Users\name\Untittled.ipynb

# NOMOR 2
import numpy as np
import datetime as dt
import pandas as pd

a = np.arange(10)
print(a)

now = dt.datetime.now()
print('Halo teman. Waktu sekarang adalah {}'.format(now))

df = pd.DataFrame({
        'nama':['joni','meri','peter'],
        'umur':[23,78,22],
        'propinsi':['Sumatera Selatan','Jatim','DKI']
     })
df

# NOMOR 3
# Menggunakan tagar untuk komen pada baris

# NOMOR 4
str = "Mochammad Hairullah"
print(str.upper())

[0 1 2 3 4 5 6 7 8 9]
Halo teman. Waktu sekarang adalah 2021-09-01 09:16:33.674447

    nama  umur          propinsi
0   joni    23  Sumatera Selatan
1   meri    78             Jatim
2  peter    22               DKI