In [6]:
import numpy as np
import datetime as dt
import pandas as pd

a = np.arange(10)
print(a)

now = dt.datetime.now()
print('Halo teman. Waktu sekarang adalah {}'.format(now))

df = pd.DataFrame({
        'nama':['joni','meri','peter'],
        'umur':[23,78,22],
        'propinsi':['Sumatera Selatan','Jatim','DKI']
     })
df
# str = "Mochammad Hairullah"
# print(str.upper())

[0 1 2 3 4 5 6 7 8 9]
Halo teman. Waktu sekarang adalah 2021-09-07 21:56:06.105766

    nama  umur          propinsi
0   joni    23  Sumatera Selatan
1   meri    78             Jatim
2  peter    22               DKI